# ignore release dir
Release

# ignore .vscode dir
UnityProject/.vscode

# ignore intermediate file
UnityProject/Assembly-CSharp.csproj
UnityProject/Doc/
UnityProject/Library/
UnityProject/UnityPackageManager/
UnityProject/UnityProject.sln
UnityProject/obj/
